<section *ngIf="data" #pdfTable>
  <h1>Orania Kontreiwinkel</h1>
  <div class="row w-100 space-between">
    <h2>Faktuur</h2>
    <div class="column">
      <span>Saffierstraat-Wes</span>
      <span>Orania</span>
      <span>8752</span>
    </div>
    <div class="column">
      <span>082 683 6317</span>
      <span>kontreiwinkel@yahoo.com</span>
    </div>
  </div>
  <hr />
  <div class="row w-100 space-between">
    <h3>Aan: {{ name }}</h3>
    <h3>Faktuur Nr: {{ invoiceNr }}</h3>
  </div>

  <table cellspacing="0">
    <thead>
      <tr>
        <th>Nr.</th>
        <th>Datum</th>
        <th>Beskrywing</th>
        <th>Aantal</th>
        <th>Prys</th>
        <th>Totaal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ row.sale_timestamp | date: "dd/MM/yyyy" }}</td>
        <td>{{ row.item }}</td>
        <td>{{ row.amount }}</td>
        <td>{{ row.unit_price | currency: "R " }}</td>
        <td>{{ row.total | currency: "R " }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <b>Totaal</b>
        </td>
        <td>
          <b>{{ getTotal() | currency: "R " }}</b>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="column center">
    <h3>Bankbesonderhede</h3>
    <div>Orania Kontreiwinkel</div>
    <div>FNB</div>
    <div><b>Tak: </b> 230203</div>
    <div><b>Rek Nr.</b> 627 524 997 83</div>
    <div>
      E-pos asb bewys na
      <b>kontreiwinkel@yahoo.com</b>
    </div>
    <h3>BAIE DANKIE VIR DIE ONDERSTEUNING!</h3>
  </div>
</section>
