section {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 18.5rem auto;
  height: 100%;

  .controls {
    button {
      margin: 0.5rem 0;
      width: 100%;
    }

    .insta-toggles {
      margin-top: 0.5rem;

      #date-shortcut {
        margin-right: 0.25rem;
      }

      #view-toggle {
        margin-left: 0.25rem;
      }
    }
  }
}

mat-card-title {
  margin-bottom: 1rem;
}

.table-container {
  position: relative;
  overflow: auto;
  // margin: 0.5rem;
  height: calc(100vh - 8.5rem);
}

mat-form-field {
  width: 16.5rem;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th,
.txt-lg {
  font-size: 1.1rem;
  color: black;
  font-weight: 600;
}

.mat-stroked-button {
  margin: 1.34375em;
}

mat-card-title-group {
  span {
    margin-left: 0.2rem;
    color: var(--light);
    font-weight: 500;
    font-size: 1.1rem;
  }
}
