<div class="all-container" #tableEl>
  <div class="table-container" *ngIf="dataLoaded">
    <table mat-table [dataSource]="table.data" matSort>
      <ng-container
        *ngFor="let column of table.displayFormat"
        [matColumnDef]="column.columnDef"
      >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.header }}
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          [ngClass]="column.classes ? column.classes(row) : ''"
        >
          {{ column.format(row) }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getHeaders(); sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: getHeaders()"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell">Geen Transaksies</td>
      </tr>
    </table>
  </div>
  <div class="total-display column center">
    <div class="row" *ngIf="dataLoaded">
      <span>Totaal:</span>
      <span>Komissie (25%):</span>
      <span>Uitbetaling:</span>
    </div>

    <div class="row" *ngIf="dataLoaded">
      <span>{{ getTotal() | currency: "R " }}</span>
      <span>{{ getTotal() * 0.25 | currency: "R " }}</span>
      <span>{{ getTotal() * 0.75 | currency: "R " }}</span>
    </div>
  </div>
  <mat-paginator showFirstLastButtons> </mat-paginator>
</div>
