.dark-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0, 0, 0, 0.5);
	z-index: 10;
	opacity: 0;
	pointer-events: none;
}

th,
.txt-lg {
	font-size: 1.1rem;
	color: black;
	font-weight: 600;
}

.confirm {
	// margin: 30vh 30vw;
	width: 60vw;
	// height: 40vh;
	background-color: var(--bg);
	border-radius: 5px;
	box-shadow: 0px 2px 10px 2px rgb(0, 0, 0, 0.2);
	transform: translateY(50vh);
	opacity: 0;
	padding: 1rem;

	.btn-container {
		button {
			margin-right: 1rem;
		}
	}
}

@keyframes modal-in {
	from {
		transform: translateY(50vh);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes modal-out {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(50vh);
		opacity: 0;
	}
}

mat-form-field {
	margin-right: 1rem;
}

table {
	width: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
	height: 1.5rem;
	width: 1.5rem;
}

#kode {
	width: 8rem;
}

#item {
	width: 12rem;
}

#amount {
	width: 7rem;
}

#price {
	width: 8rem;
}

button {
	margin-left: 2rem;
}

#add-item {
	height: 100%;
	width: 100%;
}

.table-container {
	max-height: 25rem;
	overflow: auto;
}

.total {
	box-sizing: border-box;
	border-radius: 2px;
	background-color: hsl(262, 52%, 75%);
	padding-top: 30.56px;
	padding-left: 0.75rem;
	height: 59px;
	border-bottom: 2px solid hsl(262, 52%, 50%);
	width: 8rem;
}

.mat-footer-row {
	background-color: hsl(262, 52%, 75%);
}

th {
	font-size: 1rem;
	color: black;
}

.mat-column-code {
	width: 10%;
	padding-left: 1rem;
}

.mat-column-number {
	width: 7%;
}

.mat-column-item {
	width: 30%;
}

.mat-column-amount,
.mat-column-price {
	width: 15%;
}

.mat-column-total {
	width: 25%;
}

.mat-raised-button {
	margin-left: 0;
	margin: 12px 0;
}

.mat-active {
	background-color: rgb(170, 170, 170);
}

form .cdk-focused {
	background-color: hsl(262, 52%, 30%);
	animation: grow-outline 0.2s forwards;
}

@keyframes grow-outline {
	from {
		outline: hsl(262, 52%, 30%) solid 0px;
		outline-offset: 0px;
	}
	to {
		outline: hsl(262, 52%, 30%) solid 4px;
		outline-offset: 5px;
	}
}
