<mat-sidenav-container class="side-nav">
	<mat-sidenav #sidenav mode="push">
		<h3>Afsender Opsies</h3>
		<mat-divider></mat-divider>
		<div class="nav-section">
			<p>
				<button mat-button (click)="showCategory(sidenav, Category.Verslae)">
					{{ Category.Verslae }}
				</button>
			</p>
			<p>
				<button mat-button (click)="showCategory(sidenav, Category.Statistiek)">
					{{ Category.Statistiek }}
				</button>
			</p>
			<p>
				<button mat-raised-button color="primary" (click)="modal.modalIn()">
					Nuwe Afsender
				</button>
			</p>
		</div>
	</mat-sidenav>

	<mat-sidenav-content>
		<div id="menu-toggle" class="row center-vertical">
			<button
				mat-fab
				class="center"
				id="options"
				(click)="sidenav.toggle()"
				color="primary"
			>
				<mat-icon>menu</mat-icon>
			</button>

			<h1>{{ category }}</h1>
		</div>
		<app-consignor-report
			*ngIf="category === Category.Verslae"
		></app-consignor-report>

		<!-- <div class="column center-vertical"></div> -->

		<!-- <section *ngIf="category === Category.Statistiek"></section> -->
	</mat-sidenav-content>
</mat-sidenav-container>
