<section>
  <mat-card class="graph-container">
    <mat-card-title-group>Grafiek</mat-card-title-group>
    <!-- <div class="graph"></div> -->

    <div class="controls row space-between">
      <div class="button-container">
        <button
          mat-stroked-button
          [disabled]="currentTable === 0"
          (click)="setVal(0)"
        >
          Dag
        </button>
        <button
          mat-stroked-button
          [disabled]="currentTable === 1"
          (click)="setVal(1)"
        >
          Week
        </button>
        <button
          mat-stroked-button
          [disabled]="currentTable === 2"
          (click)="setVal(2)"
        >
          Maand
        </button>
        <button
          mat-stroked-button
          [disabled]="currentTable === 3"
          (click)="setVal(3)"
        >
          Jaar
        </button>
      </div>
      <!-- <button mat-raised-button color="warn">
        <mat-icon>picture_as_pdf</mat-icon>
        PDF
      </button> -->
    </div>
  </mat-card>

  <div class="table" id="interval-table">
    <mat-card-title-group>Data</mat-card-title-group>
    <app-table
      *ngIf="currentTable === 0"
      [tableObservable]="query.getTransactionsByDayTable()"
    ></app-table>
    <app-table
      *ngIf="currentTable === 1"
      [tableObservable]="query.getTransactionsByWeekTable()"
    ></app-table>
    <app-table
      *ngIf="currentTable === 2"
      [tableObservable]="query.getTransactionsByMonthTable()"
    ></app-table>
    <app-table
      *ngIf="currentTable === 3"
      [tableObservable]="query.getTransactionsByYearTable()"
    ></app-table>
  </div>
</section>
